@font-face {
    font-family: 'icomoon';
    src:
    url('../fonts/icomoon.eot');
    src:
    url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'sourcecodepro';
    src:
    url('../fonts/SourceCodePro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}